<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>hello </h2>
    <button type="submit" class="btn btn-secondary" style="float: right;">
        <a href="{% url 'Form' %}" style="color:white"> New Blog </a>
    </button>

    {% comment %}  the below one is incorrect {% endcomment %}
    <h4>{{ info.title }} </h4>
    <h4>{{ info.description }}</h4>
    <h4>{{ info.content}}</h4>
    <h4>{{ info.Tags }}</h4>
    <h4>{{ info.User }}</h4>
    <h4>{{ info.date_created }}</h4>

    {% for i in info %}
    <h4>{{ i.title }} </h4>
    <h4>{{ i.description }}</h4>
    <h4>{{ i.content}}</h4>
    <h4>{{ i.Tags }}</h4>
    <h4>{{ i.User }}</h4>
    <h4>{{ i.date_created }}</h4>
    {% comment %} <a class="btn btn-primary" href = "{% url 'View_blog' blog.pk %}">View</a> {% endcomment %}
    
    {% comment %} <a class="btn btn-primary" href = "{% url 'update-blog' blog.pk %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'delete-blog' blog.pk %}">Delete</a> {% endcomment %}
    {% comment %} <a class="btn btn-primary" href = "{% url 'update-blog' Blog.pk %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'delete-blog' Blog.pk %}">Delete</a> {% endcomment %}
    {% comment %} <a class="btn btn-primary" href = "{% url 'update-blog'  %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'delete-blog'  %}">Delete</a> {% endcomment %}

    {% comment %}
    NoReverseMatch at /show/
     Reverse for 'update-blog' not found. 'update-blog' is not a valid view function or pattern name.  {% endcomment %}

    {% comment %} <a class="btn btn-primary" href = "{% url 'Update'  %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'Delete'  %}">Delete</a> {% endcomment %}
    


    {% comment %} <a class="btn btn-primary" href = "{% url 'Update' pk=Blog.pk %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'Delete' pk=Blog.pk %}">Delete</a>
    Reverse for 'Update' with keyword arguments '{'pk': ''}' not found. 1 pattern(s) tried: ['update\\-blog/(?P<pk>[0-9]+)\\Z'] {% endcomment %}
    
    
        {% comment %} <a class="btn btn-primary" href = "{% url 'Update' pk=i.pk %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'Delete' pk=i.pk %}">Delete</a> {% endcomment %}
        <a class="btn btn-primary" href = "{% url 'Update' i.pk %}">Update</a>
    <a class="btn btn-primary" href = "{% url 'Delete' i.pk %}">Delete</a>
    
    {% endfor %}
</body>
</html>