<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>hello </h2>
    <h4>{{ info.title }} </h4>
    <h4>{{ info.description }}</h4>
    <h4>{{ info.content}}</h4>
    <h4>{{ info.Tags }}</h4>
    <h4>{{ info.User }}</h4>
    <h4>{{ info.date_created }}</h4>

    {% for i in info %}
    <h4>{{ i.title }} </h4>
    <h4>{{ i.description }}</h4>
    <h4>{{ i.content}}</h4>
    <h4>{{ i.Tags }}</h4>
    <h4>{{ i.User }}</h4>
    <h4>{{ i.date_created }}</h4>
    {% endfor %}
</body>
</html>