<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button type="submit" class="btn btn-secondary" style="float: right;">
        <a href="{% url 'show' %}" style="color:white"> Home Page </a>
    </button>

<form action="" method="post">

    {% csrf_token %}
    {{ content }}
    <input type="submit" value="Submit">
</form>
</body>
</html>