<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="background-color: lightseagreen;">

    <div class="card mx-auto" style="width: 34rem;">
      {% if info.Img %}
      <img src="{{ info.Img.url}}" alt="Blog image" class="card-img-top">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"> Title : {{info.title}}</h5>
        <h6 class="card-title"> Author : {{info.User}}</h5>
        <h6 class="card-title"> Tags : {% for tags in info.Tags %}{{ tags }}<br>{% endfor %}</h5>
        <p class="card-text"> {{info.description}} </p>
        <p class="card-text"> {{info.content}} </p>
        <a href="{% url 'show' %}" class="btn btn-primary">Back</a>
        <a href= "{% url 'Update' content.pk %}" class="btn btn-warning">Update</a>
        <a href= "{% url 'Delete' content.pk %}" class="btn btn-danger">Delete</a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>